<!DOCTYPE htext>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="css/intro.css"> -->
    <style>
        body{
            color: white!important;
            background-color: rgb(0, 48, 110)!important;
        }
        .card-title{
            color: rgb(0, 48, 110)!important;
        }
        .card-text{
            color: rgb(41, 120, 194);
        }
        .card{
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/link') %>
    <div class="container container-fluid ps-md-0">
        <div class="row content mt-5">
            <h1 class="login-heading mb-4">Welcome Username</h1>
            <% for(var i=0; i<coupon.length; i++) {  %>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h2 class="card-title text-center"><%= coupon[i].brand %></h2>
                    <p class="card-text mt-3"> <em>Description</em> - <%= coupon[i].description %></p>
                    <p class="card-text "> <em>Code</em> - <%= coupon[i].code %></p>
                    <p class="card-text "> <em>Prize</em> - <%= coupon[i].prize %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
      </div>
      
</body>
</html>

